<div class="main-container d-flex">
  <div class="sidenav ">
    <div class="logo ps-3 py-2 d-flex align-items-center" >
        <img src="../assets/cms.png" alt="logo">
        <span class="ms-3" >CMS</span>
    </div>
    <div class="px-3" [ngStyle]="{'margin-top': i === 0 ? '25px' : 'unset'}"  *ngFor="let navItem of sideNavItems; let i = index;">
      <div [routerLink]="navItem.path" (click)="currentNavItem = navItem" [class.active]="navItem.key == currentNavItem?.key"   class="item  d-flex align-items-center px-3 pe-5 py-2 mt-3">
        <span class="material-icons-outlined">{{navItem.icon}}</span>
        <span class="ms-2">{{navItem.label}}</span>
      </div>

    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>


