/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden;}
.clickable {
  cursor: pointer;
}

.moreMenu {
  width: 150px;
}

/* editor */

.angular-editor-toolbar {
  background-color: #00377c24 !important;
  border-radius: 5px;
}



.mat-progress-bar.error .mat-progress-bar-fill::after {
  background-color: red !important;
}

.user-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: solid 1px #868b93;
}


.angular-editor-toolbar .select-font {
  width: 130px !important;
}
